SESSION_SECRET=
SESSION_COOKIE_SECURE=auto
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
LIMESTONE_PORT=3000
TRUST_PROXY=false
LOGIN_BAN_ATTEMPT_LIMIT=15
LOGIN_BAN_WINDOW_MS=900000
LOGIN_BAN_DURATION_MS=900000
